.accordion {
    display: flex;
    flex-direction: column;
    margin-top: 0em;

    &__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #FF6060;
        color: white;
        padding: 0 1em 0 1em;
        border-radius: 5px;

        & p {
            font-weight: 700;
            font-style: bold;
        }

        & i {
            cursor: pointer;
        }
    }

    &__content {
        background-color: #F6F6F673;
        color: black;
        border-radius: 0 0 5px 5px;
        margin: -3px 0em 0em 0em;
        padding: 0.2em 1em;
        z-index: -1;
        max-height: 0;
        opacity: 0;
        transform: translateY(-5px);
        overflow: hidden;
        transition:
            max-height 2s ease,
            opacity 2s ease,
            transform 2s ease;

        &--open {
            max-height: 300px;
            opacity: 1;
            transform: translateY(0px);
            margin: -3px 0em 0em 0em;
            padding: 0.2em 1em;
            z-index: -1;
        }
    }
}

// Animation icone

.fa-rotate-180,
.i-close {
    transition: all 0.5s ease;
}

@media screen and (max-width: 400px) {
    .accordion {
        &__title {
            height: 35px;
        }
    }
}