.carousel {
    height: 400px;
    position: relative;

    &__banner {

        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        border-radius: 20px;
        position: relative;
    }

    &__arrow {
        position: absolute;
        top: 40%;
        font-size: 70px;
        color: white;
        cursor: pointer;
        z-index: 1;

        &--right {
            right: 0.2em;
        }

        &--left {
            left: 0.2em;
        }
    }

    &__counter {
        position: absolute;
        bottom: 0.5em;
        left: 40%;
        right: 40%;
        text-align: center;
        color: white;
        z-index: 2;
    }
}