footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    margin: 0;
    min-width: max-content;
    max-width: 1440px;
    height: 200px;
    box-sizing: border-box;

    & p {
        color: white;
        font-size: 24px;
        font-weight: 500;
    }

    & #logo {
        margin: 20px 0;
    }
}