header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.nav {
    list-style: none;
    display: flex;
    gap: 40px;

    & a {
        text-decoration: none;
        color: black;
        font-weight: 500;
        font-size: 24px;

        &:hover {
            text-decoration: underline;
        }
    }
}

@media screen and (max-width: 768px) {
    header {
        height: 45px;
        justify-content: space-between;
        margin-top: 2em;
    }

    #logoHeader {
        width: 100px;
    }

    .nav {
        gap: 20px;
        padding: 0 0 0 2em;

        & a {

            &:hover {
                text-decoration: none;
            }

            &:active {
                text-decoration: underline;
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .nav {

        & a {
            font-size: 12px;
        }
    }
}