.infoLogement {
    display: flex;
    justify-content: space-between;
}

.accordionSection {

    display: flex;
    justify-content: space-between;
    margin-top: 1em;

    & ul {
        padding: 0;
    }

    & li {
        list-style: none;
    }

    &>* {
        width: 47%;
    }
}

@media screen and (max-width: 768px) {

    .infoLogement {
        display: block;
    }

    .accordionSection {
        display: flex;
        flex-direction: column;
        gap: 20px;

        &>* {
            width: 100%;
        }
    }

    .owners {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
        height: 3em;
    }

    .logementDescription {
        width: 100%;
    }
}