.star {
    text-align: end;


    & i {
        margin: 5px;
        font-size: 20px;
        font-weight: 900;
    }

    &__full {
        color: #FF6060;

    }

    &__empty {
        color: #E3E3E3;

    }
}

@media screen and (max-width: 480px) {
    .star {
        & i {
            font-size: 14px;
        }
    }
}