.star {
    text-align: end;


    & i {
        margin: 5px;
    }

    &__full {
        color: #FF6060;
        font-size: 20px;
        font-weight: 900;
    }

    &__empty {
        color: #E3E3E3;
        font-size: 20px;
        font-weight: 900;
    }
}