.bckgrd {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 220px;
    border-radius: 25px;
    background-color: black;


    &__img {
        opacity: 45%;
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 25px;

        &--title {
            color: white;
            text-shadow: black 0em 0em 0.2em;
            font-weight: 600;
            font-style: bold;
            opacity: 100%;
            position: absolute;
        }
    }
}

@media screen and (max-width: 720px) {
    .bckgrd {
        height: 110px;
        margin-top: 1em;

        &__img {
            &--title {
                font-size: 20px;
            }
        }
    }
}