main,
header,
footer {
  font-family: 'Montserrat', sans-serif;
}

body {
  max-width: 1440px;
  margin: auto;
  padding: 0;
}

header {
  margin: 45px 70px;
}

main {
  margin: 0 70px;
}

@media screen and (max-width: 720px) {


  header,
  main {
    margin: 0 1em;
  }
}